<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FujiRockive</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/user.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fuji.js"></script>
  </head>
  <body>
  <div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FujiRockive</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Year<span class="caret"></span></a>
            <ul class="dropdown-menu year" role="menu">
              <li><a id="all" href="#">ALL</a></li>
              <li><a id="2014" href="#">2014</a></li>
              <li><a id="2013" href="#">2013</a></li>
              <li><a id="2012" href="#">2012</a></li>
              <li><a id="2011" href="#">2011</a></li>
              <li><a id="2010" href="#">2010</a></li>
              <li><a id="2009" href="#">2009</a></li>
              <li><a id="2008" href="#">2008</a></li>
              <li><a id="2007" href="#">2007</a></li>
              <li><a id="2006" href="#">2006</a></li>
              <li><a id="2005" href="#">2005</a></li>
              <li><a id="2004" href="#">2004</a></li>
              <li><a id="2003" href="#">2003</a></li>
              <li><a id="2002" href="#">2002</a></li>
              <li><a id="2001" href="#">2001</a></li>
              <li><a id="2000" href="#">2000</a></li>
              <li><a id="1999" href="#">1999</a></li>
              <li><a id="1998" href="#">1998</a></li>
              <li><a id="1997" href="#">1997</a></li>
            </ul>
          </li>

          <li class="dropdown green">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Green<span class="caret"></span></a>
            <ul class="dropdown-menu stage" id="1" role="menu">
              <li><a id="all" href="#">ALL</a></li>
              <li><a id="2014" href="#">2014</a></li>
              <li><a id="2013" href="#">2013</a></li>
              <li><a id="2012" href="#">2012</a></li>
              <li><a id="2011" href="#">2011</a></li>
              <li><a id="2010" href="#">2010</a></li>
              <li><a id="2009" href="#">2009</a></li>
              <li><a id="2008" href="#">2008</a></li>
              <li><a id="2007" href="#">2007</a></li>
              <li><a id="2006" href="#">2006</a></li>
              <li><a id="2005" href="#">2005</a></li>
              <li><a id="2004" href="#">2004</a></li>
              <li><a id="2003" href="#">2003</a></li>
              <li><a id="2002" href="#">2002</a></li>
              <li><a id="2001" href="#">2001</a></li>
              <li><a id="2000" href="#">2000</a></li>
              <li><a id="1999" href="#">1999</a></li>
              <li><a id="1998" href="#">1998</a></li>
              <li><a id="1997" href="#">1997</a></li>
            </ul>
          </li>

          <li class="dropdown white">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">White<span class="caret"></span></a>
            <ul class="dropdown-menu stage" id="2" role="menu">
              <li><a id="all" href="#">ALL</a></li>
              <li><a id="2014" href="#">2014</a></li>
              <li><a id="2013" href="#">2013</a></li>
              <li><a id="2012" href="#">2012</a></li>
              <li><a id="2011" href="#">2011</a></li>
              <li><a id="2010" href="#">2010</a></li>
              <li><a id="2009" href="#">2009</a></li>
              <li><a id="2008" href="#">2008</a></li>
              <li><a id="2007" href="#">2007</a></li>
              <li><a id="2006" href="#">2006</a></li>
              <li><a id="2005" href="#">2005</a></li>
              <li><a id="2004" href="#">2004</a></li>
              <li><a id="2003" href="#">2003</a></li>
              <li><a id="2002" href="#">2002</a></li>
              <li><a id="2001" href="#">2001</a></li>
              <li><a id="2000" href="#">2000</a></li>
              <li><a id="1999" href="#">1999</a></li>
              <li><a id="1998" href="#">1998</a></li>
              <li><a id="1997" href="#">1997</a></li>
            </ul>
          </li>
          <li class="dropdown red">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Red<span class="caret"></span></a>
            <ul class="dropdown-menu stage" id="3" role="menu">
              <li><a id="all" href="#">ALL</a></li>
              <li><a id="2014" href="#">2014</a></li>
              <li><a id="2013" href="#">2013</a></li>
              <li><a id="2012" href="#">2012</a></li>
              <li><a id="2011" href="#">2011</a></li>
              <li><a id="2010" href="#">2010</a></li>
              <li><a id="2009" href="#">2009</a></li>
              <li><a id="2008" href="#">2008</a></li>
              <li><a id="2007" href="#">2007</a></li>
              <li><a id="2006" href="#">2006</a></li>
              <li><a id="2005" href="#">2005</a></li>
              <li><a id="2004" href="#">2004</a></li>
              <li><a id="2003" href="#">2003</a></li>
              <li><a id="2002" href="#">2002</a></li>
              <li><a id="2001" href="#">2001</a></li>
              <li><a id="2000" href="#">2000</a></li>
              <li><a id="1999" href="#">1999</a></li>
              <li><a id="1998" href="#">1998</a></li>
              <li><a id="1997" href="#">1997</a></li>
            </ul>
          </li>
          <li class="dropdown heaven">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Heaven<span class="caret"></span></a>
            <ul class="dropdown-menu stage" id="4" role="menu">
              <li><a id="all" href="#">ALL</a></li>
              <li><a id="2014" href="#">2014</a></li>
              <li><a id="2013" href="#">2013</a></li>
              <li><a id="2012" href="#">2012</a></li>
              <li><a id="2011" href="#">2011</a></li>
              <li><a id="2010" href="#">2010</a></li>
              <li><a id="2009" href="#">2009</a></li>
              <li><a id="2008" href="#">2008</a></li>
              <li><a id="2007" href="#">2007</a></li>
              <li><a id="2006" href="#">2006</a></li>
              <li><a id="2005" href="#">2005</a></li>
              <li><a id="2004" href="#">2004</a></li>
              <li><a id="2003" href="#">2003</a></li>
              <li><a id="2002" href="#">2002</a></li>
              <li><a id="2001" href="#">2001</a></li>
              <li><a id="2000" href="#">2000</a></li>
              <li><a id="1999" href="#">1999</a></li>
              <li><a id="1998" href="#">1998</a></li>
              <li><a id="1997" href="#">1997</a></li>
            </ul>
          </li>
          <li class="dropdown orange">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Orange<span class="caret"></span></a>
            <ul class="dropdown-menu stage" id="5" role="menu">
              <li><a id="all" href="#">ALL</a></li>
              <li><a id="2014" href="#">2014</a></li>
              <li><a id="2013" href="#">2013</a></li>
              <li><a id="2012" href="#">2012</a></li>
              <li><a id="2011" href="#">2011</a></li>
              <li><a id="2010" href="#">2010</a></li>
              <li><a id="2009" href="#">2009</a></li>
              <li><a id="2008" href="#">2008</a></li>
              <li><a id="2007" href="#">2007</a></li>
              <li><a id="2006" href="#">2006</a></li>
              <li><a id="2005" href="#">2005</a></li>
              <li><a id="2004" href="#">2004</a></li>
              <li><a id="2003" href="#">2003</a></li>
              <li><a id="2002" href="#">2002</a></li>
              <li><a id="2001" href="#">2001</a></li>
              <li><a id="2000" href="#">2000</a></li>
              <li><a id="1999" href="#">1999</a></li>
              <li><a id="1998" href="#">1998</a></li>
              <li><a id="1997" href="#">1997</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
  </div>

    <div id="youtube"  style = "margin-top: 50px;">
      <div id="player" style = "visiblity:hidden"></div>
    </div>

  <div class="container" id="playinginfo">
    <div class="row">
    </div>
  </div>
  
  <div id="list"></div>
  
  <div id="loading">
    <img src="./img/load.gif" >
  </div>
  
  <div class="container" id="timetable">
    <hr>
    <footer>
      <p>&copy; FujiRockaive</p>
    </footer>
  </div> <!-- /container -->
  </body>
</html>
