body #youtube {
	position: relative;
	height: 0;
	padding: 0 0 56.25%;
	overflow: hidden;
}

#youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

li.dropdown.green a.dropdown-toggle {
	color: #6ea400;
}

li.dropdown.white a.dropdown-toggle{
	color: #f5f5f5;
}

li.dropdown.red a.dropdown-toggle{
	color: #e4390e;
}

li.dropdown.heaven a.dropdown-toggle{
	color: #22bcd1;
}

li.dropdown.orange a.dropdown-toggle{
	color: #f59a00;
}

body #playinginfo{
	text-align: center;
	font-size: 30;
}


#loading {
	margin: -68px 0 0 -68px; /* gif画像を画面中央に */
	position: fixed; /* gif画像をスクロールさせない */
	left: 50%; /* gif画像を画面横中央へ */
	top: 50%; /* gif画像を画面縦中央へ */
}

h3.Green{
	color: #6ea400;	
}

h3.Red{
	color: #e4390e;
}

h3.Heaven{
	color: #22bcd1;
}

h3.Orange{
	color: #f59a00;
}